/* .dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background-color: #fff;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: white;
}

.dropdown-menu.clicked {
    display:none;
};

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
} */

.dropdown-menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background-color: black;
    cursor: pointer;
  }
  
  /* .dropdown-menu li:hover {
    
  } */
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }

  .dropdown-link:hover {
    color:red;
  }

  .dropdown-link:focus{
    border-radius: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }