* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: black;
}

.home, .locations, .login, .sign-up {
  margin-top: 80px;
  display:flex;
  /* height: 90vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.events {

  margin-top: 80px;
    left: 5%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    max-width: 75%;
}


.event-wrapper {
  display: grid;
  grid-template-columns: 1;
  /* gap: 1rem; */
  margin-top: 3rem;
  margin-left: 25%;

}

.events > h2 {
  margin: auto;
  width: 50%;
  color: rgb(255, 0, 72);
  text-transform: uppercase;
}
.md-location-dot {
  color: rgb(255, 0, 72)
}
.event-card {
  border: 1px rgb(255, 0, 72);
  background-color: rgb(0, 0, 0);
  border-style: solid none solid none;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  position: relative;
  left: auto;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  padding-inline: 1rem;
  margin: auto;
  color: white;
}


.event-card > img{
  width: auto;
  height: auto;
}
.event-body {
  padding: 1rem;
}

.event-body > h3{
  text-transform: uppercase;
  padding: 0.5rem;
}

.event-body > p {
 font-size: 1rem;
 padding: 0.5rem;
}

@media screen and (max-width: 960px) {
  .events{
    
    position: relative;
    left: -20%;
    max-width: 100%;
    margin: auto;
  }

  .event-card {
    justify-content: left;
    display: grid;
    width: fit-content;
  
  }

 
}